.section-title {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}
.item-description {
  font-family: "Fira Code", monospace;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  hyphens: auto;
  word-break: break-word;
}
.item-container {
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}
