<div class="container-fluid" style="  background-color: aliceblue;">
    <app-sidenav></app-sidenav>
    <div class="dashboard-container px-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6  p-3">
                <div class="chart">
                    <canvas baseChart [data]="barChartData1" [options]="barChartOptions" chartType="bar">
                    </canvas>
                </div>

            </div>
            <div class="col-lg-6  p-3">
                <div class="chart">
                    <canvas baseChart [data]="barChartData2" [options]="barChartOptions" chartType="bar">
                    </canvas>
                </div>
            </div>
            <div class="col-lg-6  p-3">
                <div class="chart">
                    <canvas baseChart [data]="barChartData3" [options]="barChartOptions" chartType="bar">
                    </canvas>
                </div>
            </div>
            <div class="col-lg-6  p-3">
                <div class="chart">
                    <canvas baseChart [data]="barChartData4" [options]="barChartOptions" chartType="bar">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>