<div class=" h-100" style="  background-color: aliceblue;">
    <app-sidenav></app-sidenav>
    <div class="dashboard-container p-0 ">
        <app-navbar></app-navbar>

        <div class="px-3 h-100">
            @if (stats) {
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-lg-3">
                    <div class="stats py-3 px-3 d-flex justify-content-between align-items-center">
                        <span>L`avancement des professeur</span>
                        <span class="number">{{stats.coursesNmbr}}</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="stats py-3 px-3 d-flex justify-content-between align-items-center">
                        <span>Nombre des Etudiant</span>
                        <span class="number">{{stats.studentNmbr}}</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="stats py-3 px-3 d-flex justify-content-between align-items-center">
                        <span>nombre des Professeurs</span>
                        <span class="number">{{stats.teacherNmbr}}</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="stats py-3 px-3 d-flex justify-content-between align-items-center">
                        <span>Les element ajouter par les prof non approuvee</span>
                        <span class="number">{{stats.unapprouvedNmbr}}</span>
                    </div>
                </div>
            </div>
            }
            @if (topmoduleslabels.length > 0 &&
            topmodulesnmbr.length > 0 &&
            leastmoduleslabels.length > 0 &&
            leastmodulesnmbr.length > 0 &&
            toptestniveaulabels.length > 0 &&
            toptestniveaunmbr.length > 0 &&
            leasttestniveaulabels.length > 0 &&
            leasttestniveaunmbr.length > 0 &&
            topteacherslabels.length > 0 &&
            topteachersnmbrs.length > 0 &&
            worstteacherslabels.length > 0 &&
            worstteachersnmbrs.length > 0

            ) {
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6  p-3">
                    <div class="chart">
                        <canvas baseChart [data]="barChartData1" [options]="modulescharts" chartType="bar">
                        </canvas>
                    </div>

                </div>
                <div class="col-lg-6  p-3">
                    <div class="chart">
                        <canvas baseChart [data]="barChartData2" [options]="modulescharts" chartType="bar">
                        </canvas>
                    </div>
                </div>
                <div class="col-lg-6  p-3">
                    <div class="chart">
                        <canvas baseChart [data]="barChartData3" [options]="testniveauscharts" chartType="bar">
                        </canvas>
                    </div>
                </div>
                <div class="col-lg-6  p-3">
                    <div class="chart">
                        <canvas baseChart [data]="barChartData4" [options]="testniveauscharts" chartType="bar">
                        </canvas>
                    </div>
                </div>
                <div class="col-lg-6  p-3">
                    <div class="chart">
                        <canvas baseChart [data]="barChartData5" [options]="teacherscharts" chartType="bar">
                        </canvas>
                    </div>
                </div>
                <div class="col-lg-6  p-3">
                    <div class="chart">
                        <canvas baseChart [data]="barChartData6" [options]="teacherscharts" chartType="bar">
                        </canvas>
                    </div>
                </div>
            </div>
            }
            @else{
            <div class="row justify-content-center align-items-center h-100">
                <p class="text-center"> Pas de donnees disponibles</p>
            </div>


            }
        </div>
    </div>
</div>