<div class="container d-flex flex-column p-0">
  <div class="title p-3 bg-white">
    {{ module?.nom }}
    <div class="progress mt-3">
      <div
        class="progress-bar bg-success"
        role="progressbar"
        [style.width.%]="progress"
        aria-valuenow="progress"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ progress }}%
      </div>
    </div>
    <div class="mt-2">
      <span class="text-success">{{ progress }}% Complete</span>
    </div>
  </div>

  <div *ngFor="let chapitre of module?.chapitres">
    <div class="items chapitre">
      <a class="chap">{{ chapitre.nom }}</a>
    </div>

    <div
      class="items"
      *ngIf="chapitre.CoursPdfPath"
      [ngClass]="chapitre.Statue"
      (click)="setActive($event)"
    >
      <a [routerLink]="['/course/cour/', chapitre.ChapitreNum]" class="chap"
        >Course PDF</a
      >
      <button mat-icon-button color="primary" aria-label="Course PDF">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
    </div>

    <div class="items" *ngIf="chapitre.VideoPath" (click)="setActive($event)">
      <a href="course/lecture/2" class="chap">Video</a>
      <button mat-icon-button color="primary" aria-label="Video">
        <mat-icon>videocam</mat-icon>
      </button>
    </div>

    <div class="items" *ngIf="chapitre.Schema" (click)="setActive($event)">
      <a [href]="chapitre.Schema" class="chap">{{ chapitre.Schema }}</a>
      <button mat-icon-button color="primary">
        <mat-icon>insert_drive_file</mat-icon>
      </button>
    </div>

    <div class="items" *ngIf="chapitre.Synthese" (click)="setActive($event)">
      <a [href]="chapitre.Synthese" class="chap">{{ chapitre.Synthese }}</a>
      <button mat-icon-button color="primary" aria-label="Synthese">
        <mat-icon>description</mat-icon>
      </button>
    </div>

    <div class="items" *ngIf="chapitre.quizId" (click)="setActive($event)">
      <a [routerLink]="['/course/quiz', chapitre.quizId]" class="chap"
        >Quiz {{ chapitre.quizId }}</a
      >
      <button mat-icon-button color="primary" aria-label="Quiz">
        <mat-icon>quiz</mat-icon>
      </button>
    </div>

    <div
      *ngFor="let controle of getControles(chapitre.ChapitreNum)"
      (click)="setActive($event)"
    >
      <div class="items">
        <a [href]="controle.ennonce" class="chap"
          >Controle: {{ controle.nom }}</a
        >
        <button mat-icon-button color="primary" aria-label="Controle">
          <mat-icon>assessment</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
