.container {
  position: fixed;
  right: 0;
  width: 306px;
  height: calc(100% - 60px);
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px;
  margin: 50px auto;
  z-index: 5;
}

.checked {
  background-color: #00bcd4;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.items {
  border: 1px solid #e8e8e8;
  height: 50px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.items button {
  background: none;
  border: none;
}
.items a {
  text-decoration: none;
  color: #666666;
}

.items a:hover {
  color: #459c8c;
}

.chapitre {
  background-color: #e8e8e8;
}
.controle {
  background-color: #e8e8e8;
}
.onit {
  background-color: #d7f1ed;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkbox.checked {
  background-color: #007bff; /* Background color when checked */
  border: 2px solid #007bff;
  color: #fff; /* Text color when checked */
}

.checkbox span {
  font-size: 11px; /* Adjust size as needed */
}
.controle {
  background-color: #f3f1f1;
}
/* Modal backdrop (grey background) */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
  z-index: 1040; /* Positioned behind the modal */
}

/* Modal container */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Positioned above the backdrop */
  background-color: white;
  border-radius: 0.3rem;
  height: 160px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 500px; /* Optional: adjust as needed */
  width: 100%; /* Optional: adjust as needed */
  display: block; /* Ensure it is visible */
}

/* Modal content */
.modal-content {
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
}

/* Ensure the close button is positioned correctly */
.close {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.modal .buttona {
  cursor: pointer !important;
  padding: 10px 20px !important;
  border: 2px solid #459c8c !important;
  background-color: #ffffff !important;
  color: #459c8c !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.modal .buttona:hover {
  background-color: #459c8c !important;
  color: #ffffff !important;
}
