<!-- stepper.component.html -->
<app-sidenav></app-sidenav>
<div class="chapter-container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="pt-5">
    <mat-step [stepControl]="chapterFormGroup">
      <form [formGroup]="chapterFormGroup">
        <ng-template matStepLabel>Create Chapter</ng-template>

        <div class="form-group">
          <label for="nom">Chapter Name</label>
          <input type="text" id="nom" class="form-control" formControlName="nom" required />
        </div>

        <div class="form-group">
          <label for="number">Number</label>
          <input type="number" id="number" class="form-control" formControlName="number" required />
        </div>

        <!-- Student Course  Paragraphs -->
        <div formArrayName="studentCourseParagraphs">
          <div *ngFor="let paragraph of studentCourseParagraphs.controls; let i = index" [formGroupName]="i">
            <div class="form-group">
              <label>Student Course </label>
              <input type="file" (change)="onFileChange($event, 'studentCourseParagraphs', i)" class="form-control" />
            </div>
            <button type="button" class="btn btn-danger" (click)="removeStudentParagraph(i)">Remove Paragraph</button>
          </div>
          <button type="button" class="btn btn-primary" (click)="addStudentParagraph()">Add Student Paragraph</button>
        </div>

        <!-- Professor Course  Paragraphs -->
        <div formArrayName="professorCourseParagraphs">
          <div *ngFor="let paragraph of professorCourseParagraphs.controls; let i = index" [formGroupName]="i">
            <div class="form-group">
              <label>Professor Course </label>
              <input type="file" (change)="onFileChange($event, 'professorCourseParagraphs', i)"
                class="form-control" /><button type="button" class="btn btn-danger"
                (click)="removeProfessorParagraph(i)">Remove
                Paragraph</button>

            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="addProfessorParagraph()">Add Professor
            Paragraph</button>
        </div>

        <!-- Video Upload -->
        <div class="form-group">
          <label for="videoType">Video Type</label>
          <select id="videoType" class="form-control" formControlName="videoType" (change)="onVideoTypeChange($event)">
            <option value="file">File</option>
            <option value="link">Link</option>
          </select>
        </div>

        <div class="form-group" *ngIf="isVideoFile()">
          <label for="coursVideoFile">Course Video File</label>
          <input type="file" id="coursVideoFile" class="form-control" (change)="onFileChange($event, 'coursVideoFile')"
            accept="video/*" />
        </div>

        <div class="form-group" *ngIf="isVideoLink()">
          <label for="coursVideoLink">Course Video Link</label>
          <input type="text" id="coursVideoLink" class="form-control" formControlName="coursVideoLink" />
        </div>

        <div class="form-group">
          <label for="schema">Schema</label>
          <input type="file" id="schema" class="form-control" (change)="onFileChange($event, 'schema')" />
        </div>

        <div class="form-group">
          <label for="synthese">Synthese</label>
          <input type="file" id="synthese" class="form-control" (change)="onFileChange($event, 'synthese')" />
        </div>

        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </form>
    </mat-step>


    <mat-step [stepControl]="quizFormGroup">
      <form [formGroup]="quizFormGroup">
        <ng-template matStepLabel>Create Quiz</ng-template>
        <div class="form-group">
          <label for="quizName">Quiz Name</label>
          <input type="text" id="quizName" class="form-control" formControlName="quizName" required />
        </div>

        <div formArrayName="questions">
          <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="mb-4">
            <div class="form-group">
              <label for="questionText{{ i }}">Question {{ i + 1 }}</label>
              <input type="text" id="questionText{{ i }}" class="form-control" formControlName="nom" required />
            </div>

            <div formArrayName="options">
              <div *ngFor="let option of getOptions(i).controls; let j = index" [formGroupName]="j"
                class="input-group mb-2">
                <div class="input-group-text">
                  <input type="radio" [attr.name]="'question' + i" formControlName="truth" [value]="option.value" />
                </div>
                <input type="text" class="form-control" formControlName="nom" placeholder="Option {{ j + 1 }}" />
                <button type="button" class="btn btn-danger btn-sm" (click)="removeOption(i, j)">
                  Delete Option
                </button>
              </div>
            </div>

            <button type="button" class="btn btn-secondary btn-sm" (click)="addOption(i)">
              Add Option
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeQuestion(i)">
              Delete Question
            </button>
          </div>
        </div>

        <button type="button" class="btn btn-secondary" (click)="addQuestion()">
          Add Question
        </button>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button type="button" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>