<div class="profile-container">
  <h2>Profile</h2>
  <div class="email-container">
    <div class="form-group">
      <label for="email">Votre adresse e-mail :</label>
      <input type="text" id="email" class="form-control" placeholder="email@example.com">
    </div>
    <button class="btn btn-secondary mb-2">Changer</button>
  </div>

  <div class="password-container">
    <div class="form-group">
      <label for="password">Mot De Passe:</label>
      <input type="password" id="password" class="form-control" placeholder="veuiller saisir votre ancien mot de passe">
    </div>
    <div class="form-group">
      <label for="new-password">Nouveau Mot de passe:</label>
      <input type="password" id="new-password" class="form-control" placeholder="taper votre nouveau mot de passe">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirmation de mot de passe:</label>
      <input type="password" id="confirm-password" class="form-control" placeholder="confirmer votre mot de passe">
    </div>
    <button class="btn btn-danger">Changer Mot de passe</button>
    <a href="." class="forgot-password-link">mot de passe oublié ?</a>
  </div>
</div>
