<aside class="pt-5">
  <h4 class="px-3">chapter 5</h4>
  <div class="d-flex flex-column pt-4">
    <span
      routerLink="/dashboard/pdf/2"
      class="chapter-item px-3 py-3 d-flex justify-content-start align-items-center text-center"
    >
      <mat-icon>picture_as_pdf</mat-icon> Cours</span
    >
    <span
      routerLink="/dashboard/video/3"
      class="chapter-item px-3 py-3 d-flex justify-content-start align-items-center text-center"
      ><mat-icon>movie</mat-icon> Video</span
    >
    <span
      routerLink="/dashboard/schema/2"
      class="chapter-item px-3 py-3 d-flex justify-content-start align-items-center text-center"
    >
      <mat-icon>schema</mat-icon> schema</span
    >
    <span
      routerLink="/dashboard/synthese/3"
      class="chapter-item px-3 py-3 d-flex justify-content-start align-items-center text-center"
    >
      <mat-icon>description</mat-icon> synthese</span
    >
    <span
      routerLink="/dashboard/quiz/3"
      class="chapter-item px-3 py-3 d-flex justify-content-start align-items-center text-center"
    >
      <mat-icon>quiz</mat-icon> Quiz</span
    >
  </div>
</aside>
