@if (controle) {
<app-sidenav></app-sidenav>

<div class="controle-container">
  <mat-horizontal-stepper [linear]="false" #stepper class="pt-5 px-3">
    <mat-step>
      <h4>
        {{ controle.nom }}
        @if (authservice.$IsAdmin|async) {
        <button mat-button color="primary" (click)="modifierNom()">
          Modifier Controle Nom
        </button>
        <button mat-button (click)="openDialog()">Changer chapitres</button>
        @if (controle.status==='Pending') {
        <button mat-flat-button color="primary" (click)="approuver()">
          <mat-icon>check_circle</mat-icon>
          Approuver
        </button>
        <button mat-flat-button color="warn" (click)="refuser()">
          <mat-icon>cancel</mat-icon>
          Refuser
        </button>
        } @else if (controle.status==='Approuver') {
        <button mat-flat-button color="warn" (click)="refuser()">
          <mat-icon>cancel</mat-icon>
          Refuser
        </button>
        } @else {
        <button mat-flat-button color="primary" (click)="approuver()">
          <mat-icon>check_circle</mat-icon>
          Approuver
        </button>
        }}
      </h4>

      <ng-template matStepLabel> Ennonce </ng-template>
      <h4>
        Ennonce @if (authservice.$IsAdmin|async) {
        <button mat-raised-button color="primary" (click)="ennonce.click()">
          Modifier Ennonce
        </button>
        }
      </h4>
      <input
        type="file"
        #ennonce
        (change)="SelectEnnonce($event)"
        style="display: none"
      />
      <div class="pdf-container w-75 px-5 mx-auto">
        <pdf-viewer
          src="{{ controle.ennonce }}"
          [render-text]="true"
          [original-size]="false"
          style="width: 100%; height: 700px"
        >
        </pdf-viewer>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Solution </ng-template>

      <h4>
        Solution @if (authservice.$IsAdmin|async) {<button
          mat-raised-button
          color="primary"
          (click)="solution.click()"
        >
          Modifier Solution</button
        >}
      </h4>
      <input
        type="file"
        #solution
        (change)="SelectSolution($event)"
        style="display: none"
      />

      <section class="pdf-container w-75 px-5 mx-auto">
        <pdf-viewer
          src="{{ controle.solution }}"
          [render-text]="true"
          [original-size]="false"
          style="width: 100%; height: 700px"
        >
        </pdf-viewer>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
</div>
}
