<div>
  <div class="d-flex justify-content-between" style="margin-bottom: 10px">
    <h6 style="font-weight: bold">Program</h6>
    <p>5 Chapitres</p>
  </div>
  <div class="d-flex chapitre">
    <div class="d-flex justify-content-between align-items-center">
      <p style="font-weight: bold">Chpitre 1 : Logique</p>
    </div>
  </div>
  <div class="d-flex chapitre">
    <div class="d-flex justify-content-between align-items-center">
      <p style="font-weight: bold">Chpitre 1 : Logique</p>
    </div>
  </div>
  <div class="d-flex chapitre">
    <div class="d-flex justify-content-between align-items-center">
      <p style="font-weight: bold">Chpitre 1 : Logique</p>
    </div>
  </div>
  <div class="d-flex chapitre">
    <div class="d-flex justify-content-between align-items-center">
      <p style="font-weight: bold">Chpitre 1 : Logique</p>
    </div>
  </div>
  <div class="d-flex chapitre">
    <div class="d-flex justify-content-between align-items-center">
      <p style="font-weight: bold">Chpitre 1 : Logique</p>
    </div>
  </div>
</div>
