<app-navbar></app-navbar>
<div class="container-fluid m-0 px-0">
  <div class="container mx-auto forum-container pt-5 pb-4">
    <form (ngSubmit)="search()" class="d-flex justify-content-center mx-auto align-items-center search-container px-2">
      <input [(ngModel)]="query" name="query" type="text" class="search w-100" placeholder="Search for posts">
      <button type="submit" class="bg-white border-0 d-flex justify-content-center">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <div class="d-flex justify-content-between align-items-center pt-5">
      @if (searchinput && searchinput.length>=0) {
      <h5 class="result-title m-0 p-0">Result For "{{searchinput}}" Posts</h5>
      }
      @else {
      <h5 class="result-title m-0 p-0">Result For All Posts</h5>

      }
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="onSortChange($event.value)">
          <mat-option value="recent">Recent</mat-option>
          <mat-option value="most-responses">Most Responses</mat-option>

        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="container-fluid posts-container py-3 px-0 ">

    <div class="container row justify-content-center align-items-center mx-auto gap-3" infiniteScroll
      (scrolled)="onScroll()" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50">
      @for (item of posts; track $index) {
      <div class="col-12 post py-3 px-3">
        <h6 routerLink="/forum/posts/{{item.id}}" class="post-titre">{{item.titre}}</h6>
        <p class="Author align-items-center d-flex"><mat-icon>create</mat-icon>{{item.author}}</p>
        <p>{{item.content|truncate:285}}</p>
        <p class="align-items-center d-flex"><mat-icon>forum</mat-icon> {{item.commentsNumber}} reponses</p>
      </div>
      }


    </div>
    <ngx-skeleton-loader *ngIf="loading" [theme]="skeletonTheme"></ngx-skeleton-loader>
    <ngx-skeleton-loader *ngIf="loading" [theme]="skeletonTheme"></ngx-skeleton-loader>
    <ngx-skeleton-loader *ngIf="loading" [theme]="skeletonTheme"></ngx-skeleton-loader>
    <ngx-skeleton-loader *ngIf="loading" [theme]="skeletonTheme"></ngx-skeleton-loader>
    <ngx-skeleton-loader *ngIf="loading" [theme]="skeletonTheme"></ngx-skeleton-loader>
  </div>
</div>