<div class="container-fluid">
    <div class="container mx-auto pt-5  ">
        @if (schema) {
        <h4>
            Schema {{schema.objetNumber}} ({{schema.nom}})@if (authservice.$IsAdmin|async) {
            <button mat-raised-button color="primary" (click)="ModifierNom()">
                Modifier Nom
            </button>
            <button mat-button color="primary" (click)="modifierNumero()">
                Modifier Schema Numero
            </button>
            }
        </h4>
        @if (authservice.$IsAdmin|async) {
        <button mat-raised-button color="primary" (click)="Schema.click()">
            Modifier Schema
        </button>
        @if (schema.status==='Pending') {
        <button mat-flat-button color="primary" (click)="approuver()">
            <mat-icon>check_circle</mat-icon>
            Approuver
        </button>
        <button mat-flat-button color="warn" (click)="refuser()">
            <mat-icon>cancel</mat-icon>
            Refuser
        </button>
        } @else if (schema.status==='Approuver') {
        <button mat-flat-button color="warn" (click)="refuser()">
            <mat-icon>cancel</mat-icon>
            Refuser
        </button>
        } @else {
        <button mat-flat-button color="primary" (click)="approuver()">
            <mat-icon>check_circle</mat-icon>
            Approuver
        </button>
        }
        }
        <input type="file" #Schema (change)="SelectSchema($event)" style="display: none" />
        @if (getFileType(schema.link)=="pdf") {
        <pdf-viewer src="{{ schema.link }}" [render-text]="true" [original-size]="false"
            style="width: 100%; height: 700px">
        </pdf-viewer>
        }
        @else if (getFileType(schema.link)=="word") {
        <iframe [src]="getViewerUrl(schema.link)  | safeUrl" width="100%" height="700px"></iframe>}
        @else if (getFileType(schema.link)=="image") {
        <img [src]="schema.link" width="100%" height="700px" />}
        @else if (getFileType(schema.link)=="powerpoint") {
        <iframe [src]="getViewerUrl(schema.link)  | safeUrl" width="100%" height="700px"></iframe>
        }
        }
    </div>
</div>