<div class="d-flex justify-content-between navbar">
  <div class="navbar-brand">E-learning</div>
  <div class="module-name">{{ courseName }}</div>
  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <button class="btn green-square-btn mr-2" type="button"></button>
      </li>
      <li class="nav-item">
        <button class="btn profile-circle-btn ml-2" type="button">
          <i class="fas fa-user"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
