<!-- navbar -->
<div class="container-fluid py-4">
  <div class="container px-3">
    <nav class="d-flex justify-content-end align-items-center">
      <p class="mx-4" [routerLink]="'/'" fragment="about">À Propos</p>
      <p class="mx-4" [routerLink]="'/'" fragment="faq">FAQ</p>
      <p class="mx-4" [routerLink]="'/'" fragment="formation">Formations</p>
      <p class="mx-4" [routerLink]="'/'" fragment="tarif">Tarifs</p>

      <p class="mx-4 login-button text-white px-3 py-2" routerLink="auth/login">Sign in</p>
    </nav>
  </div>
</div>
<!-- top page -->
<div class="container-fluid top my-4">
  <div class="container row align-items-center justify-content-center mx-auto">
    <div class="col-lg-6">
      <h2 class="top-title">Votre Portail vers l'Éducation Numérique</h2>
      <span>
        Explorez, Engagez et Excellez avec Notre Plateforme d'Apprentissage en
        Ligne Complète</span>
      <br />
      <button routerLink="/institutions" class="btn text-white mt-3" style="background-color: #407bff">
        Get Started
      </button>
    </div>
    <div class="col-lg-6 p-0">
      <div class="d-flex justify-content-end align-items-center">
        <img src="/img/Muslim graduation-rafiki.png " style="width: 75%" />
      </div>
    </div>
  </div>
</div>
<!-- a  Propos -->
<div class="propos-container container-fluid my-5 pt-5" id="about">
  <h3 class="text-center section-title my-5">À PROPOS</h3>
  <div class="container row align-items-center justify-content-center mx-auto">
    <div class="col-lg-3 px-5">
      <div class="d-flex flex-column">
        <img class="propos-img" src="/img/Learning-cuate.png " />
        <span class="propos-description text-center">Cours détaillés et interactifs</span>
      </div>
    </div>
    <div class="col-lg-3 px-5">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <img class="propos-img" src="/img/Video tutorial-amico.png" />
        <span class="propos-description text-center">Des vidéos instructives et captivantes</span>
      </div>
    </div>
    <div class="col-lg-3 px-5">
      <div class="d-flex flex-column">
        <img class="propos-img" src="/img/Online test-rafiki.png" />
        <span class="propos-description text-center">Tests de Niveau approfondis</span>
      </div>
    </div>
    <div class="col-lg-3 px-5">
      <div class="d-flex flex-column">
        <img class="propos-img" src="/img/college entrance exam-rafiki.png" />
        <span class="propos-description text-center">Examens & Quizs pratiques</span>
      </div>
    </div>
  </div>
  <div class="container my-5 row align-items-end justify-content-center mx-auto">
    <div class="col-lg-4 pe-5">
      <h6 class="text-end section-title">
        Bienvenue à notre plateforme de formation en ligne
      </h6>
      <p class="text-end propos-paragraph">
        Une vaste gamme de cours couvrant divers domaines. Des ressources
        conçues pour répondre aux besoins d'apprenants de tous niveaux.
        <br />
        <br />
        Nos ressources incluent des cours en PDF, des vidéos pédagogiques
        animées par des experts, des quiz interactifs, des examens et des tests
        de niveau .
        <br />
        <br />
        Nos cours sont conçus pour être flexibles, vous permettant d'apprendre à
        votre propre rythme et selon votre emploi du temps.
      </p>
    </div>
    <div class="col-lg-4">
      <img class="propos-img" src="/img/Learning-amico.png " />
    </div>
    <div class="col-lg-4 ps-5">
      <p class="text-start propos-paragraph">
        L'acquisition de nouvelles compétences, l'amélioration de vos
        connaissances existantes ou la préparation de certifications.
        <br /><br />
        Un accompagnement tout au long de votre parcours d'apprentissage. Une
        communauté dynamique.
        <br /><br />
        Des contenus de qualité, des outils interactifs et le soutien de
        formateurs expérimentés L'atteinte de vos objectifs personnels grâce à
        notre plateforme .
        <br /><br />
        L'atteinte de vos objectifs personnels grâce à notre plateforme .
      </p>
    </div>
  </div>
</div>
<!-- FAQ -->
<div class="FAQ-container container-fluid my-5 pt-5" id="faq">
  <h3 class="text-center section-title my-5 pt-5">Questions Fréquentes</h3>
  <div class="container my-5 row align-items-start justify-content-center mx-auto pt-5">
    <div class="col-lg-4 px-3">
      <div class="row justify-content-start align-items-center">
        <div class="col-3 pe-0 me-0"><span class="number">01</span></div>
        <div class="col-9">
          <h6>Que comprend le plan gratuit ?</h6>
        </div>
        <div class="col-12">
          <div class="faq-paragraph">
            Le plan gratuit permet d'accéder à un chapitre par module et de
            passer un seul quiz correspondant à ce module.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-3">
      <div class="row justify-content-start align-items-center">
        <div class="col-3 pe-0 me-0"><span class="number">02</span></div>
        <div class="col-9">
          <h6>Est ce que les cours sont encadrer ?</h6>
        </div>
        <div class="col-12">
          <div class="faq-paragraph">
            Les cours sont dirigés et encadrés par des enseignants expérimentés
            et reconnus, garantissant une formation de qualité supérieure.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-3">
      <div class="row justify-content-start align-items-center">
        <div class="col-3 pe-0 me-0"><span class="number">03</span></div>
        <div class="col-9">
          <h6>Quels sont les cours disponibles ?</h6>
        </div>
        <div class="col-12">
          <div class="faq-paragraph">
            Notre plateforme propose des cours dans divers domaines techniques
            et scientifiques,
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Formations -->
<div class="Formations-container container-fluid my-5 pt-5" id="formation">
  <h3 class="text-center section-title my-5">Formations</h3>
  <div class="container my-5 row align-items-center justify-content-between mx-auto">
    <div class="col-lg-6">
      <p class="formations-paragraph">
        Nos cours en ligne couvrent une gamme complète de niveaux, du lycée aux
        études supérieures dans des institutions prestigieuses comme l'ENCG et
        les CPGE. Nous offrons des formations pour les lycéens préparant le
        baccalauréat, ainsi que pour les étudiants universitaires visant des
        diplômes de premier cycle, de master ou de doctorat.
        <br />
        Nos programmes couvrent des domaines tels que les mathématiques, la
        physique, la chimie, la biologie, l'informatique, l'ingénierie,
        l'économie, et la gestion. Chaque module est conçu pour assurer une
        progression pédagogique structurée, aidant les apprenants à développer
        des compétences approfondies et à se préparer efficacement pour leurs
        examens et carrières futures. Nos cours sont dispensés par des
        enseignants expérimentés et reconnus, garantissant un apprentissage de
        qualité supérieure aux standards académiques les plus élevés.
      </p>
    </div>
    <div class="col-lg-6">
      <img src="/img/High School-rafiki.png" alt="" class="formations-img" />
    </div>
  </div>
</div>
<!-- Tarifs -->
<div class="Formations-container container-fluid my-5 pt-5" id="tarif">
  <h3 class="text-center section-title my-5">Tarifs</h3>
  <div class="container my-5 row align-items-center justify-content-center mx-auto">
    <div class="col-lg-6">
      <img src="/img/Pricing plans-rafiki.png" alt="" class="formations-img" />
    </div>
    <div class="col-lg-6">
      <p class="tarifs-paragraph">
        Nous proposons deux plans pour nos cours en ligne. Le plan gratuit
        permet à chaque étudiant d'accéder à un chapitre par module et de passer
        un seul quiz correspondant à ce module. Le plan premium, moyennant un
        abonnement annuel, offre un accès illimité à tous les chapitres, quiz et
        contrôles sans aucune restriction, permettant ainsi une expérience
        d'apprentissage complète et approfondie.
      </p>
    </div>
  </div>
</div>
<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
          ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
          repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
          sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://storyset.com/education" class="text-white">Education illustrations by Storyset</a>
          </li>
          <li>
            <a href="https://storyset.com/online" class="text-white">Online illustrations by Storyset</a>
          </li>
          <li>
            <a href="https://storyset.com/user" class="text-white">User illustrations by Storyset</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li>
        </ul>
      </div>


      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>