<nav class="d-flex justify-content-end px-3 py-3 w-100 m-0 align-items-center">
  <div class="dropdown">
    <a class="btn  dropdown-toggle  p-0 m-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">
      <mat-icon>person</mat-icon>
    </a>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
      @if (authservice.$isloggedin|async) {
      @if (authservice.$IsTeacher|async) {
      <li><a class="dropdown-item" href="/dashboard/profile/{{teacherId}}">Profile</a></li>


      }
      @if ((authservice.$IsAdmin|async )||(authservice.$IsTeacher|async)) {
      <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>

      }
      <li><a class="dropdown-item" href="/forum/posts">Forum</a></li>
      <li><a class="dropdown-item" href="/auth/reset-password">Changer Password</a></li>
      @if (authservice.$IsStudent|async) {
      <li><a class="dropdown-item" href="/profile/mylearning">My Learning</a></li>

      }
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
      }
      @else {
      <li><a class="dropdown-item" href="/auth/login">Signin</a></li>
      <li><a class="dropdown-item" href="/auth/register">Signup</a></li>
      }
    </ul>
  </div>
</nav>