<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-4 px-3">
  <div class="container-fluid">
    <div class="dropdown ms-auto">
      <a class="btn btn-link dropdown-toggle p-0 d-flex align-items-center" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        <mat-icon class=" fs-4" color="primary">person</mat-icon>
      </a>

      <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="dropdownMenuLink">
        @if (authservice.$isloggedin | async) {
        @if (authservice.$IsTeacher | async) {
        <li><a class="dropdown-item" href="/dashboard/profile/{{teacherId}}">Profile</a></li>
        }
        @if ((authservice.$IsAdmin | async) || (authservice.$IsTeacher | async)) {
        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
        }
        <li><a class="dropdown-item" href="/forum/posts">Forum</a></li>
        <li><a class="dropdown-item" href="/forum/user">Mes Postes</a></li>

        <li><a class="dropdown-item" href="/auth/reset-password">Change Password</a></li>
        @if (authservice.$IsStudent | async) {
        <li><a class="dropdown-item" href="/profile/mylearning">My Learning</a></li>
        }
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-danger" href="#" (click)="logout()">Logout</a></li>
        }
        @else {
        <li><a class="dropdown-item" href="/auth/login">Sign In</a></li>
        <li><a class="dropdown-item" href="/auth/register">Sign Up</a></li>
        }
      </ul>
    </div>
  </div>
</nav>