@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

.explore-button {
    
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 800 !important;
    color: rgba(0, 0, 0, 0.8) !important;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.12) !important;
    border-radius: 20px !important;
    background-color: #007bff !important;
    padding: 10px 20px !important;
    border: none;
}

.explore-button:hover {
    background-color: #0056b3 !important;
}

.explore-button:disabled {
    background-color: #d6d6d6 ;
    cursor: not-allowed ;
    color: #666 ;
}
