@if (paragraphe) {

<div class="container-fluid w-75 mx-auto pt-5  align-items-center">
    <h4>
        Paragraphe {{paragraphe.objetNumber}} ({{paragraphe.nom}})@if (authservice.$IsAdmin|async) {
        <button mat-raised-button color="primary" (click)="ModifierNom()">
            Modifier Nom
        </button>
        <button mat-button color="primary" (click)="modifierNumero()">
            Modifier Paragraphe Numero
        </button>
        @if (paragraphe.status==='Pending') {
        <button mat-flat-button color="primary" (click)="approuver()">
            <mat-icon>check_circle</mat-icon>
            Approuver
        </button>
        <button mat-flat-button color="warn" (click)="refuser()">
            <mat-icon>cancel</mat-icon>
            Refuser
        </button>
        } @else if (paragraphe.status==='Approuver') {
        <button mat-flat-button color="warn" (click)="refuser()">
            <mat-icon>cancel</mat-icon>
            Refuser
        </button>
        } @else {
        <button mat-flat-button color="primary" (click)="approuver()">
            <mat-icon>check_circle</mat-icon>
            Approuver
        </button>
        }

        }
    </h4>
    @if (authservice.$IsAdmin|async) {
    <button mat-raised-button color="primary" (click)="Paragraphe.click()">
        Modifier Paragraphe
    </button>

    }
    <input type="file" #Paragraphe (change)="SelectParagraphe($event)" style="display: none" />
    @if (getFileType(paragraphe.contenu)=="pdf") {
    <pdf-viewer src="{{  paragraphe.contenu }}" [render-text]="true" [original-size]="false"
        style="width: 100%; height: 700px">
    </pdf-viewer>
    }
    @else if (getFileType( paragraphe.contenu)=="word") {
    <iframe [src]="getViewerUrl( paragraphe.contenu)  | safeUrl" width="100%" height="700px"></iframe>}
    @else if (getFileType( paragraphe.contenu)=="image") {
    <img [src]=" paragraphe.contenu" width="100%" height="700px" />}
    @else if (getFileType( paragraphe.contenu)=="powerpoint") {
    <iframe [src]=" getViewerUrl( paragraphe.contenu)  | safeUrl" width="100%" height="700px"></iframe>

    }
</div>
}