.container {
  /* border: 1px solid black ; */
}
.container h2 {
  font: bold;
}
.module-title {
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  color: #666666;
}
.module-card img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
div h3 {
  padding: 0;
  margin: 0;
}
.progress-bar {
  margin-top: 10px;
  color: white;
}
.module-card {
  position: relative;
  /* border: 2px solid #eeeded; */
  /* box-shadow: 0 4px 8px rgba(98, 97, 97, 0.9); */
  color: black;
  margin-bottom: 15px;
  padding: 10px;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 24px;
  cursor: pointer;
}
.module-card:hover .module-img {
  background-color: rgba(112, 113, 115, 0.5);
  transition: background-color 1s;
}
.module-card:hover .play-button {
  display: block;
}
.bar {
  height: 5px;
}
.module {
  width: 100%;
}
