<div class="container">
  <h2>My Learning</h2>
  <div class="module-grid d-grid">
    <a class="module-card text-decoration-none d-flex flex-column justify-content-center rounded" *ngFor="let module of modules"
    [routerLink]="['/course',module.moduleID]">
      <img src="img/Pricing plans-rafiki.png" alt="">
      <div class="module-details">
        <h3 class="module-title">{{module.nom}}</h3>
          <p
          class="progress-bar bg-success rounded"
          role="progressbar"
          [style.width.%]="calculateProgress(module.moduleID)"
          aria-valuenow="progress"
          aria-valuemin="0"
          aria-valuemax="100"
          >
            {{calculateProgress(module.moduleID)}} % Complete
      </p>
      <a class="testniveau text-decoration-none text-reset" [routerLink] = "['/course',module.moduleID,'testniveau',module.moduleID]">Passer Test De niveau</a>
      <div class="play-button" [routerLink]="['/course', module.moduleID]">
        <span>&#9658;</span>
      </div>
      </div>

    </a>
  </div>
</div>
