<section class="background-radial-gradient overflow-hidden">
  

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Reset your password<br />
        </h1>
        
        <div class="d-flex justify-content-center align-items-center">
          <img src="/img/Reset password.png " style="width: 75%" />
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form (submit)="resetPassword()">
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Password</label>
                <input type="password" id="form3Example3" name="password" [(ngModel)]="password" placeholder="Enter your password" class="form-control" />
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Confirm Password</label>
                <input type="password" id="form3Example3" name="c-password" [(ngModel)]="confirmpassword" placeholder="Enter your password" class="form-control" />
              </div>

              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                Reset
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>