<div class="section d-flex align-items-center head">
  <div class="container">
    <div class="name-desc">
      <h6 class="title">Mathematics</h6>
      <p>
        Mathematics is the study of numbers, shapes, patterns, and abstract
        concepts. It involves logical reasoning, problem-solving, and the
        development of theories and models to understand and describe the
        natural world and human-made systems. Mathematics is foundational to
        science, engineering, technology, finance, and many other fields,
        providing the tools and language needed to quantify and analyze complex
        phenomena.
      </p>
    </div>
  </div>
</div>
