.pdfcontainer {
  width: 95%;
  max-width: 1000px;
  height: 70%;
  /* overflow-x: hidden; */
  padding: 10px;
  margin-left: 75px;
  margin-top: 15px;
}

.pdfcour {
  width: 100%;
  height: 750px;
  /* overflow-y: auto; */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
