<section class="background-radial-gradient overflow-hidden">
  

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Register<br />
            <span style="color: hsl(218, 81%, 75%)">You are a student or a Teacher ?</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Start you registration by choosing your role in the E-Learning Plateform, Teacher or a Student. 
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <!-- <div class="card bg-glass"> -->
            <div class="profil contaner">
                    <div class="photo-container">
                        <a routerLink="/auth/student-registeration">
                            <img src="/img/Student.png" alt="Circular Photo" class="rounded-circle">
                            <div class="photo-title">register as a Student</div>
                        </a>
                    </div>
                
                
                    <div class="photo-container">
                        <a routerLink="/auth/teacher-registration">
                            <img src="/img/Professor.png" alt="Circular Photo" class="rounded-circle">
                            <div class="photo-title">register as a Teacher</div>
                        </a>
                        
                    </div>
                
                

            </div>
          
        <!-- </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  