<div class="d-flex">
  <app-sidenav></app-sidenav>
  <div class="container mt-5 w-50 mx-auto">
    <h2>Update Quiz</h2>
    <form (ngSubmit)="onSubmit()" #quizForm="ngForm">
      <div class="mb-3">
        <label for="quizName" class="form-label">Quiz Name</label>
        <input
          type="text"
          class="form-control"
          id="quizName"
          required
          [(ngModel)]="quiz.nom"
          name="quizName"
        />
      </div>

      <div *ngFor="let question of quiz.questions; let i = index" class="mb-4">
        <div class="mb-3">
          <label for="questionText{{ i }}" class="form-label"
            >Question {{ i + 1 }}</label
          >

          <button
            type="button"
            class="ms-4 btn btn-danger btn-secondary btn-sm"
            (click)="deleteQuestion(i)"
          >
            Delete Question
          </button>
          <input
            type="text"
            class="form-control"
            id="questionText{{ i }}"
            required
            [(ngModel)]="question.nom"
            name="questionText{{ i }}"
          />
        </div>

        <div
          *ngFor="let option of question.options; let j = index"
          class="input-group mb-2"
        >
          <div class="input-group-text">
            <input
              type="radio"
              [name]="'correctOption' + i"
              [checked]="option.truth"
              (change)="setCorrectOption(i, j)"
            />
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="option.nom"
            name="option{{ i }}-{{ j }}"
            placeholder="Option {{ j + 1 }}"
          />
        </div>
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="addOption(i)"
        >
          Add Option
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="deleteOption(i)"
        >
          Delete Last Option
        </button>
      </div>

      <button type="button" class="btn btn-secondary" (click)="addQuestion()">
        Add Question
      </button>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="position-relative">
    <app-dashboardchapitrenav></app-dashboardchapitrenav>
  </div>
</div>
