<app-navbar></app-navbar>
<div class="container-fluid mt-5 pt-5">
  <h3 class="text-center section-title my-5">Explore Nos Institutions</h3>
  <div *ngIf="data !== null">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Attention</strong>
      <div *ngFor="let module of data.modules">
        <p>
          Vous devez avoir dans le module {{ module.Name }} le seuil
          {{ module.Seuill }} situé dans l'institution
          {{ module.Institution }} dans {{ module.NiveauScolaire }}.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mx-auto container">
    <div *ngFor="let item of institutions; let i = index" class="col-lg-3 px-2">
      <div class="d-flex flex-column p-3 justify-content-start align-items-baseline item-container">
        <img src="img\instutition.png" class="img-fluid">
        <span class="item-description text-break my-3">{{ item.nom }}</span>
        <button class="btn btn-primary mat-raised-button explore-button" [routerLink]="'/espaceprof/niveauscolaire/' + item.id">
          Explore
        </button>
        
      </div>
    </div>
  </div>
</div>

