<app-sidenav></app-sidenav>
<div class="module-container">
  <mat-horizontal-stepper [linear]="false" #stepper class="pt-5 px-3">
    @if (moduleinfo) {
    <mat-step>
      <ng-template matStepLabel> Module Overview </ng-template>
      <h4>
        {{ moduleinfo.nom }}
        @if (authservice.$IsAdmin|async) { @if (moduleinfo &&
        !moduleinfo.courseProgram){
        <button (click)="program.click()" mat-raised-button>
          ajouter programme
        </button>
        } }
        <input type="file" #program (change)="SelectProgram($event)" style="display: none" />
      </h4>

      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 px-3">
          <div class="moduleinfo-item">
            @if (authservice.$IsAdmin|async) {
            <button (click)="image.click()" mat-raised-button>
              modifier image
            </button>
            }
            <input type="file" #image accept="image/*" (change)="SelectImage($event)" style="display: none" />
            <img [src]="moduleinfo.moduleImg" class="module-img" alt="" />
          </div>
        </div>
        <div class="col-lg-6 px-3">
          <div class="moduleinfo-item">
            @if (descriptionfield) {
            <p>{{ description }}</p>
            @if (authservice.$IsAdmin|async) {
            <button (click)="descriptionfield = !descriptionfield" mat-raised-button>
              modifier description</button>} } @else { @if (authservice.$IsAdmin|async) {
            <form #moduleForm="ngForm" (ngSubmit)="updatedescription(moduleForm)">
              <textarea class="p-4 rounded" name="description" id="description" [(ngModel)]="moduleinfo.description"
                required></textarea>
              <button mat-raised-button type="submit">Submit</button>
              <button type="button" (click)="descriptionfield = !descriptionfield" mat-raised-button>
                cancel
              </button>
            </form>
            } }
          </div>
        </div>
      </div>
    </mat-step>
    @if (moduleinfo && moduleinfo.courseProgram) {
    <mat-step>
      <ng-template matStepLabel>Module Programme</ng-template>
      <h4>
        Module Programme
        @if (authservice.$IsAdmin|async){
        <button (click)="program.click()" mat-raised-button>
          modifier programme
        </button>}
        <div class="pdf-container w-75 px-5 mx-auto">

          @if (getFileType(moduleinfo.courseProgram)=="pdf") {
          <pdf-viewer src="{{  moduleinfo.courseProgram }}" [render-text]="true" [original-size]="false"
            style="width: 100%; height: 700px">
          </pdf-viewer>
          }
          @else if (getFileType( moduleinfo.courseProgram)=="word") {
          <iframe [src]="getViewerUrl( moduleinfo.courseProgram)  | safeUrl" width="100%" height="700px"></iframe>}
          @else if (getFileType( moduleinfo.courseProgram)=="image") {
          <img [src]=" moduleinfo.courseProgram" width="100%" height="700px" />}
          @else if (getFileType( moduleinfo.courseProgram)=="powerpoint") {
          <iframe [src]=" moduleinfo.courseProgram | safeUrl" width="100%" height="700px"></iframe>

          }
        </div>
      </h4>
    </mat-step>
    } }
    <mat-step>
      <ng-template matStepLabel> Chaptitres Table </ng-template>
      <h4>Chaptitres Table</h4>
      <div class="container">
        <div class="mb-4 d-flex justify-content-between align-items-center px-4">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyChapitresFilter($event)" placeholder="Ex. UserName" />
          </mat-form-field>
          <button routerLink="/dashboard/createchapter/{{ moduleId }}" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Ajouter Chapitre
          </button>
        </div>
        <table mat-table [dataSource]="chapitressource" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>number</th>
            <td mat-cell *matCellDef="let element">{{ element.number }}</td>
          </ng-container>
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="module">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>module</th>
            <td mat-cell *matCellDef="let element">
              {{ element.module }}
            </td>
          </ng-container>

          <ng-container matColumnDef="plus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>plus</th>
            <td mat-cell *matCellDef="let element">
              <button routerLink="/dashboard/chapter/{{ element.id }}" mat-raised-button color="primary">
                Plus
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> Controles Table </ng-template>
      <h4>Controles Table</h4>
      <div class="container">
        <div class="mb-4 d-flex justify-content-between align-items-center px-4">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyControlesFilter($event)" placeholder="Ex. UserName" />
          </mat-form-field>
          <button routerLink="/dashboard/createcontrole/{{ moduleId }}" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Ajouter Controle
          </button>
        </div>
        <table mat-table [dataSource]="controlessource" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
            <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>action</th>
            <td mat-cell *matCellDef="let element">
              @if (authservice.$IsAdmin|async) {
              <button mat-flat-button color="warn" (click)="deletecontrole(element.id)">
                Supprimer
              </button>

              } @else {
              <span style="color: red">les actions sont exclusifs pour l`admin</span>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="plus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>plus</th>
            <td mat-cell *matCellDef="let element">
              <button routerLink="/dashboard/controle/{{ element.id }}" mat-raised-button color="primary">
                Plus
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="controlesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: controlesColumns"></tr>
        </table>
      </div>
    </mat-step>
    @if (exam) {
    <mat-step>
      <ng-template matStepLabel> ExamFinal Ennonce </ng-template>
      <h4>
        Ennonce@if (authservice.$IsAdmin|async) {
        <button mat-raised-button color="primary" (click)="ennonce.click()">
          Modifier Ennonce
        </button>
        <button mat-button color="warn" (click)="deleteexamfinal(exam.id)">
          <mat-icon>check_circle</mat-icon>
          Delete Exam Final
        </button>
        }
      </h4>
      @if (authservice.$IsAdmin|async) { @if (exam.status==='Pending') {
      <button mat-flat-button color="primary" (click)="approuver()">
        <mat-icon>check_circle</mat-icon>
        Approuver
      </button>
      <button mat-flat-button color="warn" (click)="refuser()">
        <mat-icon>cancel</mat-icon>
        Refuser
      </button>
      } @else if (exam.status==='Approuver') {
      <button mat-flat-button color="warn" (click)="refuser()">
        <mat-icon>cancel</mat-icon>
        Refuser
      </button>
      } @else {
      <button mat-flat-button color="primary" (click)="approuver()">
        <mat-icon>check_circle</mat-icon>
        Approuver
      </button>

      } }
      <input type="file" #ennonce (change)="SelectEnnonce($event)" style="display: none" />
      <div class="pdf-container w-75 px-5 mx-auto">
        @if (getFileType(exam.ennonce)=="pdf") {
        <pdf-viewer src="{{ exam.ennonce }}" [render-text]="true" [original-size]="false"
          style="width: 100%; height: 700px">
        </pdf-viewer>
        }
        @else if (getFileType(exam.ennonce)=="word") {
        <iframe [src]="getViewerUrl(exam.ennonce)  | safeUrl" width="100%" height="700px"></iframe>}
        @else if (getFileType(exam.ennonce)=="image") {
        <img [src]="exam.ennonce" width="100%" height="700px" />}
        @else if (getFileType(exam.ennonce)=="powerpoint") {
        <iframe [src]="exam.ennonce | safeUrl" width="100%" height="700px"></iframe>

        }
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>ExamFinal Solution</ng-template>
      <h4>
        Solution @if (authservice.$IsAdmin|async) {<button mat-raised-button color="primary" (click)="solution.click()">
          Modifier Solution</button>}
      </h4>
      <input type="file" #solution (change)="SelectSolution($event)" style="display: none" />
      <div class="pdf-container w-75 px-5 mx-auto">
        @if (getFileType(exam.solution)=="pdf") {
        <pdf-viewer src="{{ exam.solution }}" [render-text]="true" [original-size]="false"
          style="width: 100%; height: 700px">
        </pdf-viewer>
        }
        @else if (getFileType(exam.solution)=="word") {
        <iframe [src]="getViewerUrl(exam.solution)  | safeUrl" width="100%" height="700px"></iframe>}
        @else if (getFileType(exam.solution)=="image") {
        <img [src]="exam.solution" width="100%" height="700px" />}
        @else if (getFileType(exam.solution)=="powerpoint") {
        <iframe [src]="exam.solution | safeUrl" width="100%" height="700px"></iframe>

        }
      </div>
    </mat-step>
    } @else {
    <mat-step>
      <ng-template matStepLabel> Create Exam </ng-template>
      <h4>Create Exam</h4>
      <form *ngIf="controleForm" [formGroup]="controleForm" (ngSubmit)="onSubmit()" class="container mt-4">
        <div class="mb-3">
          <label for="nomControle" class="form-label">Nom du contrôle</label>
          <input id="nomControle" type="text" class="form-control" formControlName="nomControle" required />
        </div>

        <div class="mb-3">
          <label for="enonce" class="form-label">Énoncé du contrôle</label>
          <input id="enonce" type="file" (change)="onFileChange($event, 'enonce')" class="form-control" required />
        </div>

        <div class="mb-3">
          <label for="solution" class="form-label">Solution du contrôle</label>
          <input id="solution" type="file" (change)="onFileChange($event, 'solution')" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!controleForm.valid">
          Soumettre
        </button>
      </form>
    </mat-step>
    }
    <mat-step>
      <ng-template matStepLabel> Modules Requis Table </ng-template>
      <h4>Modules Requis Table</h4>
      <div class="">
        <div class="mb-4 d-flex justify-content-between align-items-center px-4">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyControlesFilter($event)" placeholder="Ex. UserName" />
          </mat-form-field>
          @if (authservice.$IsAdmin|async){
          <button (click)="openDialog()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Ajouter Module</button>}
        </div>
        <table mat-table [dataSource]="modulessource" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="niveauScolaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              niveauscolaire
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.niveauScolaire }}
            </td>
          </ng-container>
          <ng-container matColumnDef="institution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              institution
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.institution }}
            </td>
          </ng-container>
          <ng-container matColumnDef="seuil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>seuil</th>
            <td mat-cell *matCellDef="let element">
              {{ element.seuill }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              @if (authservice.$IsAdmin|async) {
              <button mat-flat-button color="warn" (click)="deleterequiredmodule(element.id)">
                Supprimer
              </button>
              <button mat-flat-button color="accent" (click)="editrequiredmodule(element)">
                Modifier</button>} @else {
              <span style="color: red">les actions sont exclusifs pour l`admin</span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="plus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>plus</th>
            <td mat-cell *matCellDef="let element">
              <button routerLink="/dashboard/module/{{ element.id }}" mat-raised-button color="primary">
                Plus
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="modulesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: modulesColumns"></tr>
        </table>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Les Niveaux Scolaires</ng-template>
      <h4>Les niveaus scolaires et les institutions ou se modules appartient</h4>
      <div class="">
        <div class="mb-4 d-flex justify-content-between align-items-center px-4">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyNiveausFilter($event)" placeholder="Ex. UserName" />
          </mat-form-field>
          @if (authservice.$IsAdmin|async){
          <button (click)="openNiveauScolaireDialog()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Ajouter a un niveauscolaire</button>}
        </div>
        <table mat-table [dataSource]="niveaussource" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>


          <ng-container matColumnDef="niveauscolaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              niveauscolaire
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.nom }}
            </td>
          </ng-container>
          <ng-container matColumnDef="institution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              institution
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.institution.nom }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              @if (authservice.$IsAdmin|async) {
              <button mat-flat-button color="warn" (click)="deleteniveauscolaire(element.id)">
                Supprimer
              </button>

              }
              @else {
              <span style="color: red">les actions sont exclusifs pour l`admin</span>
              }
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="niveausColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: niveausColumns"></tr>
        </table>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>