<section class="background-radial-gradient overflow-hidden">
  

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Welcome to,<br />
          <span style="color: hsl(218, 81%, 75%)">E-learning Plateform</span>
        </h1>
        <div class="d-flex justify-content-center align-items-center">
          <img src="/img/Computer login.png " style="width: 75%" />
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">

            <form [formGroup]="loginForm" (submit)="login()">
              <div class="text-danger" *ngIf="loginForm.controls['userNameV'].invalid && (loginForm.controls['userNameV'].touched || loginForm.controls['userNameV'].dirty )">
                <span *ngIf="loginForm.controls['userNameV'].errors?.['required']">Required field</span>
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="userNameV">Username</label>
                <input type="text" id="userNameV" formControlName="userNameV" placeholder="Enter your username" class="form-control" />
              </div>

              <div class="text-danger" *ngIf="loginForm.controls['PasswordV'].invalid && (loginForm.controls['PasswordV'].touched || loginForm.controls['PasswordV'].dirty )">
                <span *ngIf="loginForm.controls['PasswordV'].errors?.['required']">Required field</span>
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="PasswordV">Password</label>
                <input type="password" id="PasswordV" formControlName="PasswordV"  placeholder="Enter your password" class="form-control" />
              </div>


              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                Login
              </button>

              <div class="text-center">
                <p class="signup-link">
                  Don't have an account?
                  <a routerLink="/auth/register" class="signup-link link"> Sign up now</a>
                </p>
                <p class="signup-link">
                    Forgot password?
                    <a routerLink="/auth/forgot-password" class="signup-link link"> Get your password</a>
                  </p>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
