<app-sidenav></app-sidenav>
@if (chapitre) {
<div class="quiz-container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="pt-5 px-3">
    <mat-step>
      <h4>{{chapitre.nom}} @if (authservice.$IsAdmin|async) { <button mat-button color="primary"
          (click)="modifierNom()">Modifier Chapitre Nom
        </button>
        @if (chapitre.statue==='Pending') {
        <button mat-flat-button color="primary" (click)="approuver()">
          <mat-icon>check_circle</mat-icon>
          Approuver
        </button>
        <button mat-flat-button color="warn" (click)="refuser()">
          <mat-icon>cancel</mat-icon>
          Refuser
        </button>
        }
        @else if (chapitre.statue==='Approuver') {
        <button mat-flat-button color="warn" (click)="refuser()">
          <mat-icon>cancel</mat-icon>
          Refuser
        </button>
        }
        @else if (chapitre.statue==='Denied') {
        <button mat-flat-button color="primary" (click)="approuver()">
          <mat-icon>check_circle</mat-icon>
          Approuver
        </button>
        }}
      </h4>
      <ng-template matStepLabel> CoursPdf </ng-template>
      <h4>CoursPdf
        @if (authservice.$IsAdmin|async) {
        <button mat-raised-button color="primary" (click)="Pdf.click()">Modifier Pdf </button>}
      </h4>
      <input type="file" #Pdf (change)="SelectPdf($event)" style="display: none">
      <div class="pdf-container w-75 px-5 mx-auto">
        <pdf-viewer src="{{host}}{{chapitre.coursPdfPath}}" [render-text]="true" [original-size]="false"
          style="width: 100%; height: 700px">
        </pdf-viewer>
      </div>
    </mat-step>

    <mat-step>

      <ng-template matStepLabel> CoursVideo </ng-template>
      <h4>CoursVideo @if (authservice.$IsAdmin|async) {<button mat-raised-button color="primary"
          (click)="Video.click()">Modifier Video </button>
        } </h4>
      <input type="file" #Video (change)="SelectVideo($event)" accept="video/*" style="display: none">

      <section class="video px-5 mt-3">
        <video class="img-fluid" controls>
          <source src="{{host}}{{chapitre.videoPath}}" type="video/mp4" />
          <source src="{{host}}{{chapitre.videoPath}}" type="video/webm" />
          <source src="{{host}}{{chapitre.videoPath}}" type="video/ogg" />
          <source src="{{host}}{{chapitre.videoPath}}" type="video/ts" />
        </video>
      </section>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Schema </ng-template>
      <h4>Schema @if (authservice.$IsAdmin|async) {<button mat-raised-button color="primary"
          (click)="Schema.click()">Modifier Schema </button>
        } </h4>
      <input type="file" #Schema (change)="SelectSchema($event)" style="display: none">


      <div class="pdf-container w-75 mx-auto">
        <pdf-viewer src="{{host}}{{chapitre.schema}}" [render-text]="true" [original-size]="false"
          style="width: 100%; height: 700px">
        </pdf-viewer>
      </div>
    </mat-step>

    <mat-step>

      <ng-template matStepLabel> Synthese </ng-template>
      <h4>Synthese @if (authservice.$IsAdmin|async) {<button mat-raised-button color="primary"
          (click)="Synthese.click()">Modifier Synthese </button>
        } </h4>
      <input type="file" #Synthese (change)="SelectSynthese($event)" style="display: none">
      <div class="pdf-container w-75 mx-auto">
        <pdf-viewer src="{{host}}{{chapitre.synthese}}" [render-text]="true" [original-size]="false"
          style="width: 100%; height: 700px">
        </pdf-viewer>
      </div>
    </mat-step>

    <mat-step>

      <ng-template matStepLabel>Quiz </ng-template>
      <h4>Quiz</h4>
      @if (quiz) {
      <form (ngSubmit)="onSubmit()" #quizForm="ngForm">
        <div class="mb-3">
          <label for="quizName" class="form-label">Quiz Name</label>
          <input type="text" class="form-control" id="quizName" required [(ngModel)]="quiz.nom" name="quizName" />
        </div>

        <div *ngFor="let question of quiz.questions; let i = index" class="mb-4">
          <div class="mb-3">
            <label for="questionText{{ i }}" class="form-label">Question {{ i + 1 }}</label>

            <input type="text" class="form-control" id="questionText{{ i }}" required [(ngModel)]="question.nom"
              name="questionText{{ i }}" />
          </div>

          <div *ngFor="let option of question.options; let j = index" class="input-group mb-2">
            <div class="input-group-text">
              <input type="radio" [name]="'correctOption' + i" [checked]="option.truth"
                (change)="setCorrectOption(i, j)" />
            </div>
            <input type="text" class="form-control" [(ngModel)]="option.nom" name="option{{ i }}-{{ j }}"
              placeholder="Option {{ j + 1 }}" />
            @if (authservice.$IsAdmin|async) {
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteOption(i, j)">
              Delete Option
            </button>}
          </div>
          @if (authservice.$IsAdmin|async) {
          <button type="button" class="btn btn-secondary btn-sm" (click)="addOption(i)">
            Add Option
          </button>

          <button type="button" class="btn btn-danger btn-secondary btn-sm" (click)="deleteQuestion(i)">
            Delete Question
          </button>}
        </div>
        @if (authservice.$IsAdmin|async) {
        <button type="button" class="btn btn-secondary" (click)="addQuestion()">
          Add Question
        </button>

        <button type="submit" class="btn btn-primary">Submit</button>}
      </form>}
    </mat-step>
  </mat-horizontal-stepper>
</div>}