<div class="d-flex">
  <app-sidenav></app-sidenav>
  <div class="container mt-5 w-50 pt-5 mx-auto">
    <h4>
      Chapitre 1 video
      <div class="btn btn-primary">modifier video</div>
    </h4>
    <section class="video p-0 mt-3">
      <video class="img-fluid" controls>
        <source
          src="video/University Promo Video Template (Editable).mp4"
          type="video/mp4"
        />
      </video>
    </section>
  </div>
  <div class="position-relative">
    <app-dashboardchapitrenav></app-dashboardchapitrenav>
  </div>
</div>
