<div class="m-5 quiz">
  <h2 class="p-4" *ngIf="quiz">{{ quiz.nom }}</h2>
  <div class="d-flex align-items-center flex-column" *ngIf="currentQuestion">
    <div class="question border">
      <div class="qst-nmb">
        Question {{ currentQuestionIndex + 1 }} / {{ quiz.questions.length }}
      </div>
      <div>
        <h5>{{ currentQuestion.nom }}</h5>
      </div>
      <div class="qst-type">Choose the correct answer</div>
    </div>
    <ng-container *ngFor="let option of currentQuestion.options">
      <label class="reponse d-flex border">
        <input
          class="check"
          type="radio"
          [name]="'question' + currentQuestion.id"
          [value]="option.id"
          [checked]="selectedAnswers[currentQuestion.id] === option.id"
          (change)="selectAnswer(option.id)"
        />
        <span>{{ option.nom }}</span>
      </label>
    </ng-container>
    <div class="btns">
      <button
        class="btn mx-5 rounded-pill"
        (click)="previousQuestion()"
        [disabled]="currentQuestionIndex === 0"
      >
        Previous
      </button>
      <button
        class="btn mx-5 rounded-pill"
        (click)="
          currentQuestionIndex === quiz.questions.length - 1
            ? finishQuiz()
            : nextQuestion()
        "
      >
        {{
          currentQuestionIndex === quiz.questions.length - 1 ? "Finish" : "Next"
        }}
      </button>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
</div>

