<div class="m-5 quiz">
  <h2 class="p-4">Quiz 1</h2>
  <div class="d-flex align-items-center flex-column">
    <div class="question border">
      <div class="qst-nmb">Question 1</div>
      <div><h5>Quelle est la capitale de la France?</h5></div>
      <div class="qst-type">Choisis la bonne réponse</div>
    </div>
    <label class="reponse d-flex border">
      <input class="check" type="radio" name="question1" id="nice" />
      <span>Nice</span>
    </label>
    <label class="reponse d-flex border">
      <input class="check" type="radio" name="question1" id="paris" />
      <span>Paris</span>
    </label>
    <label class="reponse d-flex border">
      <input class="check" type="radio" name="question1" id="lile" />
      <span>Lile</span>
    </label>
    <div class="btns">
      <button class="btn mx-5 rounded-pill">Précédent</button>
      <button class="btn mx-5 rounded-pill">Suivant</button>
    </div>
  </div>
</div>
